:root{
    --primary: #6c2e6a;
    --secundary: #b586b4;
    --text-color:#fff;
    --text-secondary:#000;
    --text-tertiary:#5d5d5d;
}
*{
    font-family:"Raleway" ;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*Event form */
#event-description{
   background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), 
   url("Atelie1.jpg");
   background-position: center;
   background-size: cover;
   height: 85vh;
   display: flex;
   justify-content: space-around;
   align-items: center;
   color: var(--text-color);

} 
#disclaimer .event-date{
    color: var(--secundary);
 
}
#disclaimer h2{
    font-size: 3em;
    margin-bottom: 1em;
}
h2::first-letter{

   color:var(--secundary);
   
}
h2{
    color: var(--primary);
    font-family:'Cormorant Garamond', serif;
    font-size: 2em;
   
}
#disclaimer .about-event{
    font-size: 1.4em;
    text-transform: uppercase;
    max-width: 350px;
    font-weight: bold;
    margin-bottom: 1em;

}
#disclaimer p{
    font-size: 1em;
    margin-bottom: 0.3em;

}
 #disclaimer .event-date{
    font-weight: bold;
 }
 
 #subscription-form{
    background-color: var(--secundary);
    padding: 2em;
    max-width: 22%;
    font-size: 0.6em;

 }
 #subscription-form p{
    font-size: 1.5em;
    color:var(--text-secondary);
    margin-bottom: 0.3em;
 }
 .form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8em;

 } 
 .form-group label{
    color: var(--text-color);
    margin-bottom: 0.8em;
    font-weight: bold;
    font-size: 1em;
 }
 .form-group input,
 .form-group select{
    padding: 2px 4px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #5d5d5d;
 }
 .btn{
    background-color: var(--primary);
    color: var(--text-color);
    text-transform: uppercase;
    width: 100%;
    border: none;
    padding: 12px;
    cursor: pointer;
    opacity: 0.5;
    font-size: 1em;
    border-radius: 5px;
 }
 .btn:hover{
    opacity: 1;
 }
/* Benefict section*/
#key-benefits h2{
    background-color: #d8cbd7;
    text-align: center;
    padding: 1em;
    font-weight: 500;
    color: var(--primary);
}
#key-benefits h2::first-letter{
    color: var(--primary);
}
.benefits{
    display: flex;
    justify-content: space-around;
    padding: 2em;
    width: 80%;
    margin: 0 auto;
}
.benefit{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20%;
    color: var(--text-tertiary);
}
.benefit .benefit-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
}
#benefit-1{
    background-image: url("academia.jpg");
}
#benefit-2{
    background-image: url("biquini.jpeg");
}
#benefit-3{
    background-image: url("verao.jpg");
}
#benefit-4{
    background-image: url("outono.jpg");
}
/*Event location*/
#location {
    height: 400px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), 
    url("Atelie4.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--text-color);
    margin-bottom: 2em;
}
#address,
#about-location {
    max-width: 25%;
}
#address{
    display: flex;
}
#address i{
    color:deeppink;
    font-size: 2em;
    margin-right: 0.5em;
}
#address-details{
    text-align: center;
    font-size: 1.2em;
}
#about-location h3{
    color:deeppink;
    font-size: 2em;
    margin-bottom: 1em;
    text-transform: uppercase;
}
#about-location p{
    line-height: 1.5em;
    font-size: 1em;
}
/*Event details container*/
#details{
    width: 90%;
    margin: 0 auto;

}
.detail{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5%;
    margin-bottom: 3em;

}
.detail img{
    width: 50%;
}
.detail h3{
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: 400;
}
#detail-1 h3{
    font-size: 3em;
    font-weight: 600;
}
.detail-description{
    width: 100%;
    padding-left: 2em;
}
.detail-description ul {
    list-style-position: inside;
    
}
.detail-description ul li{
    margin-bottom: 0.4em;
   
}
/*Call to Action Section*/
#cta{
    height: 300px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), 
    url("atelie6.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}
#cta h3{
    margin-bottom: 1.2em;
    font-size: 2em;
    font-weight: 400;
}
#cta .btn{
    width: 30%;
    margin: 0 auto;
    font-weight: 600;
    font-size: 1.2em;
}
/* Footer*/

#footer {
    text-align: center;
    color: var(--primary);
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    
}
#logo, i{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    margin-left: 0.3em;


}
#logo{
    font-size: 20px

}

#footer img {
    width: 50px;
    align-self: center;

}

#footer p{
    font-size: 0.9em;

}
#footer span{
    font-weight: bold;
}
  /* Mobile*/

@media (max-width:450px){
    .btn{
        opacity: 1;
    }
    /* Event Fort*/
    #event-description {
        flex-direction: column;
        height: auto;
    }
    #disclaimer{
        padding: 2em;
    }
    #disclaimer h2{
        margin-bottom: 0.5em;
    }
    #subscription-form{
        max-width: 70%;
        margin-bottom: 2em;
    }
    /* Benefits section*/
    .benefits{

        flex-direction: column;
        align-items: center;
        width: auto;
        padding: 3em;
    }
    .benefit{
        max-width: 100%;
        margin-bottom: 2em;
    }
    /* Event locationn*/
    #location{
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 2em 0;
    }
    #address{
        order: 2;
        flex-direction: column;
        max-width: 100%;
    }
    #address i{
        margin: 0.5em;
    }
    #about-location{
        order:1;
        max-width: 100%;
        margin: 0.5em;
    }
    /*Event details container*/
    .detail{
        flex-direction: column;
        margin-bottom: 0.5em;
        gap:0;
    }
    .detail img{
        width: 100%;
        margin: 3em 0;
    }
    #detail-1 img{
        display: none;
    }
    .detail-description{
        padding: 0;
    }
    #detail-3 img{
        order: 2;
    }
    #detail-3 .detail-description{
        order: 1;
    }
    /* Call to action Section*/
    #cta{
        text-align: center;
    }
    #cta .btn{
        width: 80%;
    }
}    
